global-exclude *.pyc

include LICENSE *.rst *.toml *.yml *.yaml *.ini *.md *.py
graft .github

# Src
recursive-include src *.py
recursive-include src *.rst

# Environments
recursive-include environments *.yml

# Tests
recursive-include tests *.py
graft tests

# Documentation
include docs/Makefile
recursive-include docs *.png
recursive-include docs *.svg
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.bat
recursive-include docs *.css
recursive-include docs *.md
prune docs/_build

# added by check_manifest.py
recursive-include docs *.md
recursive-include environments *.yml
recursive-include src *.py
recursive-include tests *.py

# added by check_manifest.py
recursive-include src *.py
recursive-include tests *.py

# added by check_manifest.py
recursive-include src *.py
recursive-include tests *.py

# added by check_manifest.py
recursive-include src *.rst
