include setup.py
include README.md
include LICENSE
include CHANGELOG.md
include MANIFEST.in
include requirements.txt
include requirements-dev.txt
include requirements-test.txt

graft tests
include versioneer.py
include footings/_version.py
