name: CI

on:
  push:
    branches: [dev]
  pull_request:
    branches: [master]

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - uses: pre-commit/action@v2.0.0
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8"]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          environment-file: environments/environment-dev.yml
          activate-environment: footings-dev
          auto-activate-base: false
      - name: Conda info
        run: |
          conda info
          conda list
      - name: Run tests
        run:  nox -s test_ci
  coverage:
    needs: [tests]
    name: Run coverage
    runs-on: ubuntu-18.04
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.8
          environment-file: environments/environment-dev.yml
          activate-environment: footings-dev
          auto-activate-base: false
      - name: Conda info
        run: |
          conda info
          conda list
      - name: Run coverage
        run:  nox -s coverage_ci
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: PYTHON37
          name: codecov-reports-37
          fail_ci_if_error: true
